@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
/*----------------------------------------------*/

/*----------------------------------------------*/

/*-----------mobile styling---------------------*/

/*----------------------------------------------*/

/*----------------------------------------------*/

@media only screen and (max-width: 700px) {
  .background {
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background: radial-gradient(circle, rgba(137, 151, 224, 1) 0%, rgba(35, 63, 209, 1) 100%);
    overflow-x: hidden;
  }
  .cname {
    position: absolute;
    top: 25vh;
    margin: 0 0 5vh 0;
    width: 100vw;
    text-align: center;
    font-size: 4.5em;
    font-family: 'Fredericka the Great', cursive;
    font-weight: 100;
    z-index: 10;
  }
  .title {
    position: relative;
    top: 50vh;
    margin: 0 0 5vh 0;
    width: 100vw;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    z-index: 10;
  }
  .cta {
    position: absolute;
    top: 75vh;
    left: 25vw;
    margin: 0;
    padding: 2vh 2vw 2vh 2vw;
    width: 50vw;
    height: 15vh;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    border-radius: 10px;
    border: none;
    background: rgba(255, 255, 255, 0.411);
    z-index: 10;
  }
  .buttonlink {
    text-decoration: none;
  }
}

/*----------------------------------------------*/

/*----------------------------------------------*/

/*-----------desktop styling---------------------*/

/*----------------------------------------------*/

/*----------------------------------------------*/

@media only screen and (min-width: 701px) {
  .background {
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background: radial-gradient(circle, rgba(137, 151, 224, 1) 0%, rgba(35, 63, 209, 1) 100%);
    overflow-x: hidden;
  }
  .cname {
    position: absolute;
    top: 25vh;
    margin: 0 0 5vh 0;
    width: 100vw;
    text-align: center;
    font-size: 7em;
    font-family: 'Fredericka the Great', cursive;
    font-weight: 100;
    z-index: 10;
  }
  .title {
    position: relative;
    top: 50vh;
    margin: 0 0 5vh 0;
    width: 100vw;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    z-index: 10;
  }
  .cta {
    position: absolute;
    top: 75vh;
    left: 35vw;
    margin: 0;
    padding: 2vh 2vw 2vh 2vw;
    width: 30vw;
    height: 15vh;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    border-radius: 10px;
    border: none;
    background: rgba(255, 255, 255, 0.411);
    z-index: 10;
  }
  .buttonlink {
    text-decoration: none;
  }
}